.navbar.navbar-inverse{
  background-color: #ffffff;
  height: 15%;
}
.nav.navbar-nav a{
  margin: 0px 100px;
}
.navbar-header{
  padding: 20px 0px;
}
#navbar{
  padding: 20px;
  border: 0 50px;
}
#myCarousel img-fluid {
  position : relative;
  z-index: 2;
}
.carousel{
  padding: 10px 100px;
}
.carousel.slide{
  background-color: #fff;
}
.carousel-inner .item img.slider {
  height: 100%;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    display: inline-block;
    position: fixed;
    top: 50%;
    z-index: 1;
}
.item{
  width: auto;
  height: 350px;

}
